Not possible to authenticate using private_key_jwt to introspection endpoint

It seems introspection endpoint allows only authentication using HTTP Basic Authentication (or an access token), but not also other forms of client authentication, like `private_key_jwt`. My reading of the spec:

> To prevent token scanning attacks, the endpoint MUST also require some form of authorization to access this endpoint, such as client authentication as described in OAuth 2.0 [RFC6749] or a separate OAuth 2.0 access token such as the bearer token described in OAuth 2.0 Bearer Token Usage [RFC6750].  The methods of managing and validating these authentication credentials are out of scope of this specification.

Seems to suggest that also other client authentication methods can be supported. Any particular reason why authentication using `private_key_jwt` is not supported?

So would you be open to PR adding also other client authentication methods? Just reuse existing code from elsewhere?

Sorry, I wrote a comment yesterday but it apparently was lost during GitHubs outage. This isn't implemented right now because I couldn't find a spec for it. I'm open to it either way because why should a client with a higher degree of authentication not be able to introspect tokens, but I'd perfer to do it in a standard way (if such way exists)!


Another way to approach this would obviously be to just to a client credentials grant and use an access token :)

> Another way to approach this would obviously be to just to a client credentials grant and use an access token :)

Yea. Ugly. :-)

> but I'd perfer to do it in a standard way (if such way exists)!

My understanding of reading the spec is that "standard way" is simply "client authentication as described in OAuth 2.0 [RFC6749]". Which I think is what we do for token endpoint for example. So I would just reuse that logic. Which is a superset of basic authentication. And keep also the case for access token.

Is client assertion authentication standardized somewhere? Like do we send that in the body or in the URL query?  Or in the header?

You mean https://tools.ietf.org/html/rfc7521#section-4.2?

> When using assertions as client credentials, the client includes the assertion and related information using the following HTTP request parameters:

So body or query string.

But that's a spec for the Token Endpoint. I am talking about [Basic Authorization RFC](https://tools.ietf.org/html/rfc7617) or the [Bearer Token RFC](https://tools.ietf.org/html/rfc6750)

I think that is OK. The language says:

> such as client authentication as described in OAuth 2.0 [RFC6749]

Not RFC 7617 (Basic Authentication), but RFC 6749. And RFC 7521 says:

> This specification provides a general framework for the use of assertions as authorization grants with OAuth 2.0.  It also provides a framework for assertions to be used for client authentication.

Linking to RFC6749.

So I think this then completely expected. We can use any client authentication OAuth 2.0 allows, and RFC 7521 further defines those client authentication mechanism. My reading is that `such as client authentication as described in OAuth 2.0 [RFC6749]` language means `such as client authentication used for token endpoint as described in OAuth 2.0 [RFC6749]`. In my view, it already says that we should reuse client authentication otherwise used for token endpoint also for introspection endpoint.

Oh, there is a standard which is explicit about this, see [RFC8414](https://tools.ietf.org/html/rfc8414):

```
   introspection_endpoint_auth_methods_supported
      OPTIONAL.  JSON array containing a list of client authentication
      methods supported by this introspection endpoint.  The valid
      client authentication method values are those registered in the
      IANA "OAuth Token Endpoint Authentication Methods" registry
      [IANA.OAuth.Parameters] or those registered in the IANA "OAuth
      Access Token Types" registry [IANA.OAuth.Parameters].  (These
      values are and will remain distinct, due to Section 7.2.)  If
      omitted, the set of supported authentication methods MUST be
      determined by other means.
```

So in fact, there is whole registry for OAuth token endpoint authentication methods, not just those which are defined in original standard. And both token and introspection endpoints can support all of them. And I think we should at least support on both endpoints same (and on introspection endpoint also the access token).

Nice, I wasn't aware that this is standardized in the OAuth2 discovery spec. Given that they reference the token endpoint auth methods there I think this should be the way to go. [Assertion Framework for OAuth 2.0 Client Authentication and Authorization Grants (RFC 7521) Section 6.1](https://tools.ietf.org/html/rfc7521#section-6.1) explicitly defines this for the POST body only. Therefore I believe that we should also only implement this for the POST body in the introspection authentication.

What do you think?

I would just reuse client authentication implementation/function from the token endpoint. I think this is already so there? So I think consistency between those endpoints is the most important.

Makes sense :)