redirect_uri matching does not follow RFC3986

### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/fosite/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/fosite/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Network](https://www.ory.sh/) project.
- [ ] I have joined the [Ory Community Slack](https://slack.ory.sh).
- [ ] I am signed up to the [Ory Security Patch Newsletter](https://ory.us10.list-manage.com/subscribe?u=ffb1a878e4ec6c0ed312a3480&id=f605a41b53).

### Describe the bug

From [[RFC6749] Section 3.1.2.3](https://www.rfc-editor.org/rfc/rfc6749#section-3.1.2.3)

> When a redirection URI is included in an authorization request, the
   authorization server MUST compare and match the value received
   against at least one of the registered redirection URIs (or URI
   components) as defined in [[RFC3986] Section 6](https://www.rfc-editor.org/rfc/rfc3986#section-6)

Fosite seems to be doing an exact string comparison instead:
https://github.com/ory/fosite/blob/45a6785cc54fcbd9195b0de4b821bb5fed6a41be/authorize_helper.go#L106

### Reproducing the bug

An easy test is for hostnames, which are case insensitive in [[RFC3986] Section 6.2.2.1](https://www.rfc-editor.org/rfc/rfc3986#section-6.2.2.1):
1. Create a client with a redirect uri which has a lower case hostname
2. Try to authorize with that client, specifying the redirect uri hostname in upper case

eg if a client has a valid redirect uri:
`https://example.com` and a request is sent with redirect_uri `HTTPS://EXAMPLE.com`, that should be valid.

### Relevant log output

_No response_

### Relevant configuration

_No response_

### Version

0.44.0

### On which operating system are you observing this issue?

None

### In which environment are you deploying?

None

### Additional Context

There are far more rules than just hostname case specified in the RFC, I have just included that one as it is the easiest to describe and test.

[Simple String Comparison](https://datatracker.ietf.org/doc/html/rfc3986#section-6.2.1) is the [current best security practice in OAuth 2.0](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-security-topics#section-4.1.3) and is the requirement in the [OpenID Connect 1.0 standard](
https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest), as well as the upcoming OAuth 2.1 standard it's becoming  a requirement similar to in OpenID Connect 1.0. As such it's probably "most correct" to specifically look at what Simple String Comparison actually means. [Syntax Based Normalization](https://datatracker.ietf.org/doc/html/rfc3986#section-6.2.2) from what I can see is a different string comparison type.


Thanks James, I agree with that. It's also mandated by the conformity test suite. Closing