Token endpoint returns `invalid_request` instead of `invalid_grant` when refresh token is expired

### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/fosite/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/fosite/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Cloud](https://www.ory.sh/) project.
- [ ] I have joined the [Ory Community Slack](https://slack.ory.sh).
- [ ] I am signed up to the [Ory Security Patch Newsletter](https://ory.us10.list-manage.com/subscribe?u=ffb1a878e4ec6c0ed312a3480&id=f605a41b53).

### Describe the bug

When trying to refresh an access token using an expired refresh token, fosite is returning an `invalid_request` instead of `invalid_grant`.

A related fix (https://github.com/ory/fosite/pull/426) corrected this bug already when the refresh token is invalid or when there is a client mismatch. However, the case when the refresh token is expired was not addressed in this fix.

Relevant RFC 6749 section 5.2: https://datatracker.ietf.org/doc/html/rfc6749#section-5.2

Related comminuty forum thread: https://community.ory.sh/t/refresh-token-endpoint-returns-invalid-request-error-expecting-invalid-grant/1637

### Reproducing the bug

1. Request an access token and refresh token
2. Wait for the refresh token to expire...
3. Try to refresh the access token using the expired refresh token

### Relevant log output

_No response_

### Relevant configuration

_No response_

### Version

1.10.2

### On which operating system are you observing this issue?

Linux

### In which environment are you deploying?

Binary

### Additional Context

_No response_

I believe the fix for this is as follows:

```diff
Index: handler/oauth2/flow_refresh.go
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
diff --git a/handler/oauth2/flow_refresh.go b/handler/oauth2/flow_refresh.go
--- a/handler/oauth2/flow_refresh.go	(revision 749000d58d96a1cdaa361fc4808ef6649c79b89f)
+++ b/handler/oauth2/flow_refresh.go	(date 1646569994630)
@@ -76,6 +76,10 @@
 	} else if err != nil {
 		return errorsx.WithStack(fosite.ErrServerError.WithWrap(err).WithDebug(err.Error()))
 	} else if err := c.RefreshTokenStrategy.ValidateRefreshToken(ctx, originalRequest, refresh); err != nil {
+		if errors.Is(err, fosite.ErrTokenExpired) {
+			return errorsx.WithStack(fosite.ErrInvalidGrant.WithWrap(err).WithDebug(err.Error()))
+		}
+
 		// The authorization server MUST ... validate the refresh token.
 		// This needs to happen after store retrieval for the session to be hydrated properly
 		return errorsx.WithStack(fosite.ErrInvalidRequest.WithWrap(err).WithDebug(err.Error()))
```

Thank you for the report - fixes and PRs appreciated!